{% set action = include_dict.action %}
<a {{ classNames({'button': action.style != 'link', 'button-secondary': action.style == 'secondary', 'button-icon': action.style == 'icon'}) }} href="{{ action.url | relative_url }}"{% if action.new_window %} target="_blank" rel="noopener"{% endif %}>
  {% if action.style == 'icon' and action.icon_class %}
  <span class="icon fab {{ action.icon_class }}" aria-hidden="true"></span><span class="screen-reader-text">{{ action.label }}</span>
  {% else %}
  {{ action.label }}
  {% endif %}
</a>